<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>God's Fav idiot</title>

    <!--Custom CSS-->
    <link rel="stylesheet" href="assets/stylesheets/index.css" type="text/css" />

    <!--FONT-AWESEOMe-->
     <link rel= "stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css"/>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Cormorant|Cormorant+SC|Cormorant+Upright|Poiret+One|Raleway|Roboto|Cormorant+Infant|Aref+Ruqaa|Lobster|Pacifico|Shadows+Into+Light" rel="stylesheet">
</head>

<!--BODY-->
<body>
<!------------------------------------------------------------------------------------------------------------------>    <!--HEADER-->
  <!--Header section for name and navigation bar-->
  <header class="banner">
    <!--Site Title-->
    <div id="name-and-tag">
        <h2 id="hadithiHeader">
            <a href="index.html">Hadithi</a>
        </h2>
        <p id="tag">Tales from Africa</p>
    </div>
    <!--Navigation bar-->
      <nav class = "topNav">
        <a href="#stories">Stories</a>
        <a href="contact.html">Contact</a>
        <a href="about.html">About</a>
      </nav>
  </header>


  <!--MAIN STORY-->
  <section class="main-story" role="main">
      <!-- Header container -->
      <div class="storyHeader">
        <h3 class="storyTitle">God's Favorite Idiot</h3>
        <div class="post-meta">
          <span class="post-date">May 25, 2016
          </span>
       <span class="date-sep">/</span>
          <span class="post-author"><a href="pages/contact.html/" title="Posts by BrianLusina" rel="author">Brian Lusina</a></span>
        </div>
        </div>

      <!--Story container-->
         <div class="story-content">
           <p>God does not have favorites. He is impartial, unbiased over all his creation. How can he be when he created everything with utmost love and care. Ben read this passage under his favorite baobab tree from one of the many books he always borrowed from the local library. He was just 5 books away from reading every single book in the library.</p>
           <br>
           <p>"You are making the rest of us look stupid Ben," Robert told his brother as he approached the tree. "That is not possible, you do that very well on you're own," Ben replied as he put the book aside. 'God's Favorite Idiot' was the title. Robert looked at the title and then looked at his brother, "you are smart, I do not think that book is about you." He sat down next to his brother and the sat their in silence for one minute as they looked at the sun rise in the east. It was always a beautiful site. No matter how many times one looked at it. "God favors every one equaly," Ben then finally said as he stretched as if had just been awoken from a slumber."Brother, I do not think you know what you are saying, but I shall let you have this one for now, we have quite the day ahead,"Robert said as he took out his watch from his pocket.</p>
           <br>
           <p></p>
         </div>

      <!--SHARE STORY-->
  <div class="share-story">
    <span class="animated-hover" style="margin-bottom:5px"><strong>Spread the <i class="fa fa-heart fa-2x " style="color:red"></i> and share!</strong></span>

    <div class="share-story-container">
        <a class="shareButton" id="tweet-share" title="Tweet this story!!" target="_blank">
     <i class="fa fa-twitter fa-2x"></i>
    </a>

    <a class="shareButton" id="tumblr-share" title="Post it on Tumblr!" target="_blank">
      <i class="fa fa-tumblr fa-2x"></i>
    </a>

    <a class="shareButton" id="facebook-share" title="Share on Facebook!" target="_blank">
      <i class="fa fa-facebook fa-2x"></i>
    </a>

    <a class="shareButton" id="googlePlus-share" title="Show it on Google+!" target="_blank">
      <i class="fa fa-google-plus fa-2x"></i>
    </a>

    <a class="shareButton" id="redit-share" title="Recommend on Reddit" target="_blank">
      <i class="fa fa-reddit fa-2x"></i>
    </a>
    </div>
    </div>
  </section>


  
<!------------------------------------------------------------------------------------------------------------------>
    <!--footer-->
  <footer id="footer">
    <!--Social Container-->
    <div class="social-box">
      <div class="social-container">
        <a href="https://www.linkedin.com/in/brianlusina" target="_blank" class="button social">
            <i class="fa fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/brianlusina" class="button social" target="_blank">
          <i class="fa fa-github fa-2x"></i></a>
        <a href="https://twitter.com/brianlusina" class="button social" target="_blank">
          <i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://plus.google.com/102302755150765254402" class="button social"><i class="fa fa-google-plus fa-2x"></i></a>
        <a href="https://medium.com/@brianlusina" class="button social"><i class="fa fa-medium fa-2x"></i></a>
      </div>
    </div>

    <div class="footer-nav">
        <!-- Left section of footer navigation  -->
        <div class="footer-nav-left">
          <span class="designer-name">Made with <i class="fa fa-heart" style="color:red"></i> and <i class="fa fa-coffee" style="color:brown"></i> by <a href="http://codepen.io/mercury">Mercury</a>.</span>
        </div>

        <!--Right section of footer navigation-->
        <nav class="footer-nav-right">
          <a href="index.html">Stories</a>
          <a href="about.html">About</a>
          <a href="contact.html">Contact</a>
        </nav>
    </div>

  </footer>
<!------------------------------------------------------------------------------------------------------------------->   
    <!--SCRIPTS-->
    <script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="js/hadithi.js"></script>
</body>
</html>