{% extends 'base.html' %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
    <form method=post action="{{ url_for('auth.login') }}">
        {{ login_form.csrf_token }}
        <dl>
            {{ render_field(login_form.email) }}
            {{ render_field(login_form.password) }}
        </dl>
        <p><input type=submit value=Login>
    </form>
{% with messages = get_flashed_messages(category_filter=["success"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div data-alert class="alert-box success radius">
                        {{ message }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
                {% for message in messages %}
                    <div data-alert class="alert-box alert radius">
                        {{ message }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
{% endblock %}
