{% extends 'base.html' %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form method=post action="{{ url_for('auth.register') }}">
        {{ register_form.csrf_token }}
        <dl>
            {{ render_field(register_form.first_name) }}
            {{ render_field(register_form.second_name) }}
            {{ render_field(register_form.username) }}
            {{ render_field(register_form.email) }}
            {{ render_field(register_form.password) }}
            {{ render_field(register_form.verify_password) }}
        </dl>
        <p><input type=submit value=Register>
    </form>
{% endblock %}
