<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <title>Africa's Tales</title>

    <!--Custom CSS-->
    <link rel="stylesheet" href="assets/stylesheets/index.css" type="text/css" />

    <!--FONT-AWESEOMe-->
     <link rel= "stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css"/>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Cormorant|Cormorant+SC|Cormorant+Upright|Poiret+One|Raleway|Roboto|Cormorant+Infant|Aref+Ruqaa|Lobster|Pacifico|Shadows+Into+Light" rel="stylesheet">
</head>

<!--BODY-->
<body>
<!------------------------------------------------------------------------------------------------------------------>    <!--HEADER-->
  <!--Header section for name and navigation bar-->
  <header class="banner">
    <!--Site Title-->
    <div id="name-and-tag">
        <h2 id="hadithiHeader">
            <a href="index.html">Hadithi</a>
        </h2>
        <p id="tag">Tales from Africa</p>
    </div>
    <!--Navigation bar-->
      <nav class = "topNav">
        <a href="#stories">Stories</a>
        <a href="contact.html">Contact</a>
        <a href="about.html">About</a>
      </nav>
  </header>
<!------------>
<section></section>
    
<!------------------------------------------------------------------------------------------------------------------>
    <!--footer-->
  <footer id="footer">
    <!--Social Container-->
    <div class="social-box">
      <div class="social-container">
        <a href="https://www.linkedin.com/in/brianlusina" target="_blank" class="button social">
            <i class="fa fa-linkedin fa-2x"></i></a>
        <a href="https://github.com/brianlusina" class="button social" target="_blank">
          <i class="fa fa-github fa-2x"></i></a>
        <a href="https://twitter.com/brianlusina" class="button social" target="_blank">
          <i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://plus.google.com/102302755150765254402" class="button social"><i class="fa fa-google-plus fa-2x"></i></a>
        <a href="https://medium.com/@brianlusina" class="button social"><i class="fa fa-medium fa-2x"></i></a>
      </div>
    </div>

    <div class="footer-nav">
        <!-- Left section of footer navigation  -->
        <div class="footer-nav-left">
          <span class="designer-name">Made with <i class="fa fa-heart" style="color:red"></i> and <i class="fa fa-coffee" style="color:brown"></i> by <a href="http://codepen.io/mercury">Mercury</a>.</span>
        </div>

        <!--Right section of footer navigation-->
        <nav class="footer-nav-right">
          <a href="index.html">Stories</a>
          <a href="about.html">About</a>
          <a href="contact.html">Contact</a>
        </nav>
    </div>

  </footer>
<!------------------------------------------------------------------------------------------------------------------->   
    <!--SCRIPTS-->
    <script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="js/hadithi.js"></script>
</body>
</html>