{% extends 'base.html' %}
{% block content %}
	<form class="cd-form floating-labels">
        {{ contact_form.csrf_token }}
		<fieldset>
			<legend>Account Info</legend>

			<div class="error-message">
				<p>Please enter a valid email address</p>
			</div>

			<div class="icon">
				<label class="cd-label" for="{{ contact_form.sender_name.id }}">Name</label>
                {{ contact_form.sender_name(class_="user", required_="required") }}
		    </div>

		    <div class="icon">
		    	<label class="cd-label" for="{{ contact_form.sender_email.id }}">Email</label>
                {{ contact_form.sender_email(class_="email error", required_="required")}}
		    </div>
		</fieldset>

		<fieldset>

			<div class="icon">
				<label class="cd-label" for="{{ contact_form.sender_message.id }}">Message</label>
      			{{ contact_form.sender_message(class_="message", required_="required") }}
			</div>

			<div>
                {{ contact_form.send_message }}
		    </div>
		</fieldset>
	</form>
{% endblock %}
