{% extends 'base.html' %}
{% block content %}
<header class="top-bar">
	<h2 class="top-bar__headline">Latest articles</h2>
	<div class="filter">
		<span>Filter by:</span>
		<span class="dropdown">Popular</span>
	</div>
</header>

{% for story in stories %}
	<a class="grid__item" href="#">
		<h2 class="title title--preview">{{ story.title }}</h2>
		<div class="loader"></div>
		{% if story.category %}
			<span class="category">{{ story.category }}</span>
		{% else %}
			<span class="category">{{ story.tagline }}</span>
		{% endif %}
		<div class="meta meta--preview">
			<img class="meta__avatar" src="img/authors/1.png" alt="author01" />
			<span class="meta__date"><i class="fa fa-calendar-o"></i>{{ story.date_created }}</span>
			<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>
		</div>
	</a>
{% endfor %}

<a class="grid__item" href="#">
	<h2 class="title title--preview">On Humans &amp; other Beings</h2>
	<div class="loader"></div>
	<span class="category">Stories for humans</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/1.png" alt="author01" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 9 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">The Things we Lost in the Fire</h2>
	<div class="loader"></div>
	<span class="category">Love &amp; Hate</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/2.png" alt="author02" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 7 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 5 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">What Goes Around Comes Around</h2>
	<div class="loader"></div>
	<span class="category">Nutrition</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/3.png" alt="author03" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">Hope for Amy Walters</h2>
	<div class="loader"></div>
	<span class="category">Life &amp; Death</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/4.png" alt="author04" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">My Father told me...</h2>
	<div class="loader"></div>
	<span class="category">Nature vs. Nurture</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/5.png" alt="author05" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">What Happens in the Brain?</h2>
	<div class="loader"></div>
	<span class="category">Neuroscience</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/6.png" alt="author06" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">Tasty Labrador Bacon</h2>
	<div class="loader"></div>
	<span class="category">Food Ethics</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/7.png" alt="author07" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">Ignorance is Bliss</h2>
	<div class="loader"></div>
	<span class="category">Philosophy</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/8.png" alt="author08" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">Looking Through a Telescope</h2>
	<div class="loader"></div>
	<span class="category">Morality &amp; History</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/1.png" alt="author01" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">Life Ends. Period.</h2>
	<div class="loader"></div>
	<span class="category">Philosophy</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/2.png" alt="author02" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">The Hunger of a Teenager</h2>
	<div class="loader"></div>
	<span class="category">Society</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/3.png" alt="author03" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
	</div>
</a>
<a class="grid__item" href="#">
	<h2 class="title title--preview">Disorders are the New Order</h2>
	<div class="loader"></div>
	<span class="category">Mental Health</span>
	<div class="meta meta--preview">
		<img class="meta__avatar" src="img/authors/4.png" alt="author04" />
		<span class="meta__date"><i class="fa fa-calendar-o"></i> 6 Apr</span>
		<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 2 min read</span>
	</div>
</a>

{% include 'story/story_content.html' %}

<footer class="page-meta">
	<span>Load more...</span>
</footer>
{% endblock %}