{% extends 'base.html' %}
{% block content %}

    <h1>New story</h1>
    <form method="POST", action="{{ url_for('dashboard.write_story', username=user.username)}}">
        {{ story_form.csrf_token }}
        {{ story_form.story_title(required_="required") }}
        {{ story_form.tagline(required_="required") }}
        {{ story_form.category(required_="required") }}
        {{ story_form.content(required_="required") }}
        {{ story_form.publish }}
        {{ story_form.save_draft }}
    </form>
{% endblock %}