{% extends 'base.html' %}
{% block content %}
    <div>
        <p>First Name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p><br/>
        <p>Username: {{ user.username }}</p><br/>
        {% if user.about_me %}
            <p>About Me: {{ user.about_me }}</p><br/>
        {% endif %}
        {% if user.last_seen %}
            <p>Last seen on {{ user.last_seen }}</p><br>
        {% endif %}
        {# Avatar #}
        <img src="{{ user.avatar(64) }}"><br>
        <a href="{{ url_for('dashboard.edit_profile', username=user.username) }}">Edit profile</a>
    </div>

    {#  Add user posts here  #}
{% endblock %}