{% extends 'base.html' %}
{% block content %}

    <h1>{{ user.full_name }}</h1>
    {% if stories %}
        {% for story in stories %}
            <div class="container">
                <section class="grid3d vertical" id="grid3d">
                    <div class="grid-wrap">
                        <div class="grid">
						    <figure>{{ story.title }}</figure>
                        </div>
                    </div><!--Grid wrap-->
                    <div class="content">
                        <div>
                            <div class="dummy-img"></div>
                            <p class="dummy-text">{{ story.tagline }}</p>
                            <p class="dummy-text">{{ story.content }}</p>
                        </div>
                        <span class="loading"></span>
					    <span class="icon close-content"></span>
                    </div>
                </section>
            </div> <!--Container-->
        {% endfor %}
    {% else %}
        <p>Nothing to show here...write a new story</p>
        <a href="{{url_for('dashboard.write_story', username=user.username)}}">New Story</a>
    {% endif %}
        
{% endblock %}