<section class="content">

<div class="scroll-wrap">
	{% for story in stories %}
		<article class="content__item">
		<span class="category category--full">{{ story.category }}</span>
		<h2 class="title title--full">{{ story.title }}</h2>
		<div class="meta meta--full">
			<img class="meta__avatar" src="img/authors/1.png" alt="author01" />
			<span class="meta__author">{{ story.author_id }}</span>
			<span class="meta__date"><i class="fa fa-calendar-o"></i>{{ story.date_created }}</span>
			<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>
		</div>
			{{ story.content }}
		</article>
	{% endfor %}
</div>
<button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>
</section>