{% extends 'base.html' %}

{% block head %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('auth.static', filename='css/auth.css') }}"/>
{% endblock %}

{% block content %}
    <div class="form-panel">
        <div class="form-header">
            <h1>Account Login</h1>
        </div>
        <div class="form-content">
            <form name="login-form" method="post" action="{{ url_for('auth.login') }}">
                {{ login_form.csrf_token }}
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ login_form.email(required_="required") }}
                    {% for error in login_form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    {{ login_form.password(required_="required") }}
                    {% for error in login_form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label class="form-remember">
                        {{ login_form.remember_me }} Remember Me
                    </label>
                    <a href="{{ url_for('auth.forgot_password') }}" class="form-recovery">
                        Forgot Password?
                    </a>
                </div>
                <div class="form-group">
                    {{ login_form.login(class_="login-button") }}
                </div>
                <div class="form-group">
                    <a href="{{ url_for('auth.register') }}" class="register-new">New? Register</a>
                </div>
            </form>
        </div>

        <div class="social-login">
            <a href="{{ url_for('auth.facebook_authorize') }}">
                <i class="fa fa-facebook fa-lg"></i>
                Login in with facebook
            </a>
            <a href="{{ url_for('auth.google_authorize') }}">
                <i class="fa fa-google-plus fa-lg"></i>
                log in with Google
            </a>
            <a href="{{ url_for('auth.twitter_authorize') }}">
                <i class="fa fa-twitter fa-lg"></i>
                log in with Twitter
            </a>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('auth.static', filename='js/auth.js')}}"></script>

    <!--Preloader for authentication-->
    <script src="{{ url_for('auth.static', filename='js/facebookAuthStatus.js')}}"></script>

    <script>runCheckingStatus()</script>

{% endblock %}