{% extends 'base.html' %}
{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}
<header class="top-bar">
	<h2 class="top-bar__headline">Latest articles</h2>
	<div class="filter">
		<span>Filter by:</span>
		<span class="dropdown">Popular</span>
	</div>
</header>

{% for story in stories %}
	<a class="grid__item" href="#">
		<h2 class="title title--preview">{{ story.title }}</h2>
		<div class="loader"></div>
		{% if story.category %}
			<span class="category">{{ story.category }}</span>
		{% else %}
			<span class="category">{{ story.tagline }}</span>
		{% endif %}
		<div class="meta meta--preview">
            {% if author.query.filter_by(id=story.author_id).first() %}
                <img class="meta__avatar" src="{{ author.query.filter_by(id=story.author_id).first().avatar(64) }}" alt="{{ author.query.filter_by(id=story.author_id).first().username }}" />
            {% else %}
                <img class="meta__avatar" src="https://dummyimage.com/50x50/000/a7a9c7&text=?" alt="{{author.query.filter_by(id=story.author_id).first().username }}" />
            {% endif %}
			<span class="meta__date"><i class="fa fa-calendar-o"></i>
                {{ story.date_created.day }} {{ story.date_created.strftime("%b") }}
            </span>
			<span class="meta__reading-time"><i class="fa fa-clock-o"></i> 3 min read</span>
		</div>
	</a>
{% endfor %}

{% include 'story.story_content.html' %}

<footer class="page-meta">
	<span>Load more...</span>
</footer>
{% endblock %}

{% block js %}
    {{ super() }}

{% endblock %}