<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hadithi</title>
		<meta name="description" content="A site for all African stories" />
		<meta name="keywords" content="hadithi, african, stories, short stories, Africa, hadithi za kale" />
		<meta name="author" content="The Lusina" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.3.0/css/font-awesome.min.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
		<script src="{{(url_for('static', filename='js/vendor/modernizr.custom.js')}}"></script>
	</head>
    <body>
        <div class="container">
            <button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
			<div id="theSidebar" class="sidebar">
				<button class="close-button fa fa-fw fa-close"></button>
				<div class="codrops-links">
					<a class="codrops-icon codrops-icon--prev" href="http://tympanus.net/Tutorials/MotionBlurEffect/" title="Previous Demo"><span>Previous Demo</span></a>
					<a class="codrops-icon codrops-icon--drop" href="http://tympanus.net/codrops/?p=23872" title="Back to the article"><span>Back to the Codrops article</span></a>
				</div>
				<h1><span>Animated<span> Grid Layout</h1>
				<nav class="codrops-demos">
					<a class="current-demo" href="index.html">Demo 1</a>
					<a href="index2.html">Demo 2</a>
				</nav>
				<div class="related">
					<h3>Related Demos</h3>
					<a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
					<a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
					<a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
				</div>
			</div>
            <div id="theGrid" class="main">
                <section class="grid">
                    <header class="top-bar">
						<h2 class="top-bar__headline">Latest articles</h2>
						<div class="filter">
							<span>Filter by:</span>
							<span class="dropdown">Popular</span>
						</div>
					</header>
                    {% block content %}

                    {% endblock %}
                    <footer class="page-meta">
						<span>Load more...</span>
                    </footer>
                </section>
            </div>
        </div>
		<script src="{{ url_for('static', filename='js/vendor/classie.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>