<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "head.html" %}
	</head>
    <body>
        <div id="wrapper">
            {% include "header.html" %}
            {% include "menu.html" %}

            <div id="main">

                {% block content %}

                {% endblock %}
                <!-- Pagination -->
                <ul class="actions pagination">
                    <li><a href="" class="disabled button big previous">Previous Page</a></li>
                    <li><a href="#" class="button big next">Next Page</a></li>
                </ul>
            </div>
            {% include "sidebar.html" %}
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="{{ category }}">
                            {{message}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

		{% include "scripts.html" %}
    </body>
</html>
