<!-- Header -->
<header id="header">
    <h1><a href="#">Future Imperfect</a></h1>
    <nav class="links">
        <ul>
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Ipsum</a></li>
            <li><a href="#">Feugiat</a></li>
            <li><a href="#">Tempus</a></li>
            <li><a href="#">Adipiscing</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>

{# TODO: navigation links#}
{#				<div class="related">#}
{#					{% if user.is_authenticated and user.confirmed %}#}
{#                        Hello {{ user.first_name }}#}
{#                        <a href="{{ url_for('dashboard.user_dashboard', username=user.username) }}">Dashboard</a>#}
{#                        <a href="{{ url_for('dashboard.user_account', username=user.username) }}">Account</a>#}
{#						<a href="{{ url_for('auth.logout') }}">Logout</a>#}
{#				    {% elif user.is_authenticated %}#}
{#						<a href="{{ url_for('dashboard.unconfirmed') }}">Confirm</a>#}
{#						<a href="{{ url_for('auth.logout') }}">Logout</a>#}
{#					{% else %}#}
{#						<a href="{{ url_for('auth.login') }}">Login</a>#}
{#					{% endif %}#}
{#					<a href="{{ url_for('home.contact') }}">Contact</a>#}
{#					<a href="{{ url_for('home.about') }}">About</a>#}
{#				</div>#}