<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hadithi</title>
<meta name="description" content="A site for all African stories" />
<meta name="keywords" content="hadithi, african, stories, short stories, Africa, hadithi za kale" />
<meta name="author" content="The Lusina" />
<!--Favicon-->
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.svg')}}">

<!--Google Fonts-->
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Cormorant|Cormorant+SC|Cormorant+Upright|Poiret+One|Raleway|Roboto|Cormorant+Infant|Aref+Ruqaa|Lobster|Pacifico|Shadows+Into+Light" rel="stylesheet">
<!--Normalize css-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css')}}" />
<!--Font aweseome-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts/font-awesome-4.3.0/css/font-awesome.min.css')}}" />

<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashdemo.css')}}"/>-->

<!--Auth css-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/auth.css') }}"/>
<!--Contact css-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contact.css') }}">
<!--Styles-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
<!--Animate css-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.min.css') }}" />

<!--About css-->
<link rel="stylesheet", type="text/css" href="{{ url_for('static', filename='css/about.css')}}"/>

<!--Modernizr-->
<script src="{{ url_for('static', filename='js/vendor/modernizr.custom.js')}}"></script>

