{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.0.0.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/skel.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>

    <!--[if lte IE 8]><script type="text/javascript" src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}