<script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/classie.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.0.0.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/helper.js') }}'"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vendor/grid3d.js') }}'"></script>
<script>
    new grid3D( document.getElementById( 'grid3d' ) );
</script>
<!--Auth js-->
<script type="text/javascript" src="{{ url_for('static', filename='js/auth.js')}}"></script>
<!--Contact js-->
<script type="text/javascript" src="{{ url_for('static', filename='js/contact.js') }}"></script>
<!--Main js-->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>